/* Maga Alkhasov */

body {
  padding: 0;
  margin: 0;
}

header {
  background: #f2f4f5;
}

.container {
  width: 976px;
  margin: 50px auto 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.col-4 {
  flex-basis: 25%;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.card {
  background: rgba(255, 0, 0, 0.3);
  border: 1px solid rgba(72, 72, 72, 0.2);
  margin-bottom: 20px;
  text-align: center;
}