doctype html
// Maga Alkhasov
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Flex Games
    link(rel='stylesheet', href='styles/base.css')
  body
    header
      .container
        .row
          .col-4
            .card
              p Lorem, ipsum.
          .col-4
            .card
              p Soluta, repudiandae.
          .col-4
            .card
              p Officiis, corrupti!
          .col-4
            .card
              p Facere, odio!
          .col-4
            .card
              p Similique, voluptate?
          .col-4
            .card
              p Ut, quas!
          .col-4
            .card
              p Necessitatibus, fuga